{% extends 'base.html.twig' %}

{% block title %} Mon compte - boutiquecommerce {% endblock %}

{% block content %}
<h1>Mon compte</h1>

Bienvenue {{ app.user.firstname }} sur votre compte 

<hr>

<a href="{{ path('account_password')}}"> Modifier votre mot de passe</a><br>
-ajouter mes addresse <br>
-mes commande
{% endblock %}
