{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - boutiquecommerce{% endblock %}

{% block content %}
<h1>Modififer mon mot de passe</h1>


<a href="{{ path('account')}}">Retour à mon compte</a><br>
<hr>

{{form(form)}}

{% endblock %}
